* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.section {
  box-sizing: border-box;
  width: 100%;
  padding: 0 12vw 0;
}

.section * {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}

.first_screen {
  height: 100vh;
  background: url(../img/BG.jpg) center center;
  padding-top: 5vh;
}

.first_screen * {
  color: rgba(38, 38, 38, 1);
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.first_screen__content {
  box-sizing: border-box;
  position: relative;
  height: 75%;
}

.first_screen__header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 127px;
  height: 52px;
  background: url(../img/Logo.svg) center center no-repeat;
}

.logo:hover {
  opacity: 0.5;
}

.first_screen__header_menu {
  width: 50%;
}

.menu_items {
  width: 100%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.menu_item__text {
  text-decoration: none;
  padding: 1px 2px 0;
  box-sizing: border-box;
}

.menu_item__text:active {
  border-top: 3px solid rgba(255, 96, 51, 1);
}

.menu_item__text:hover {
  border-top: 3px solid rgba(255, 96, 51, 1);
}

.menu_item__text--active {
  border-top: 3px solid rgba(255, 96, 51, 1);
}

.section_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first_screen__text {
  height: 100%;
  width: 33%;
}

.h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
}

.paragraph {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

.first_screen__paragraph {
  margin: 15px 0 28px;
}

.button {
  height: 55px;
  width: 200px;
  background: #ff6033;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
}

.scroll_icon {
  display: inline-block;
  height: 40px;
  width: 24px;
  background: url(../img/ScrollIcon.svg) center center no-repeat;
}

.first_screen__content__scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 7vh;
  z-index: 3;
}

.about_us {
  background: rgba(0, 196, 196, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
}

.about_us__img {
  margin: 21px 43px 20px -79px;
  display: inline-block;
}

.about_us__h {
  display: block;
  font-size: 90px;
  font-weight: 700;
  line-height: 106px;
}

.about_us__text {
  box-sizing: border-box;
  margin-bottom: 60px;
}

.about_us__paragraph:not(:last-child) {
  margin-bottom: 14px;
}
