@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: local('../fonts/Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'georgiaitalic';
    src: url('../fonts/georgia-italic-webfont.eot');
    src: url('../fonts/georgia-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia-italic-webfont.woff2') format('woff2'),
         url('../fonts/georgia-italic-webfont.woff') format('woff'),
         url('../fonts/georgia-italic-webfont.ttf') format('truetype'),
         url('../fonts/georgia-italic-webfont.svg#georgiaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'georgiaregular';
    src: url('../fonts/georgia-webfont.eot');
    src: url('../fonts/georgia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia-webfont.woff2') format('woff2'),
         url('../fonts/georgia-webfont.woff') format('woff'),
         url('../fonts/georgia-webfont.ttf') format('truetype'),
         url('../fonts/georgia-webfont.svg#georgiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Regular.woff') format('woff'),
		url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}