:root {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
}

.paragraph {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
}

.title_h2 {
  font-size: 90px;
  font-weight: 700;
  line-height: 106px;
}
