* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 0;
}

header {
  text-transform: uppercase;
  width: 46%;
  box-sizing: border-box;
  margin: 130px auto 0px;
}

.first {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 5px;
  color: #898f99;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 5px;
  color: #0ec8cb;
  margin-top: 20px;
  margin-bottom: 30px;
}

.second {
  display: inline-block;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #999999;
  width: 80%;
  margin-bottom: 90px;
}

main {
  margin: 25px 160px;
  box-sizing: border-box;
}

li {
  width: 238px;
  height: 438px;
  display: inline-block;
  border: 1px solid #ececec;
}

.img {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 55px;
}

#img1 {
  background-image: url(icons/Anchor.png);
}

#img2 {
  background-image: url(icons/Diamond.png);
}

#img3 {
  background-image: url(icons/Eyeglasses.png);
}

#img4 {
  background-image: url(icons/Monitor.png);
}

li > h2 {
  display: inline-block;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: uppercase;
  width: 75%;
  height: 52px;
  margin-top: 50px;
}

li > span {
  display: inline-block;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  width: 75%;
  margin-top: 30px;
}

li:hover {
  background-color: #0ec8cb;
  color: white;
}

li:hover #img1 {
  background-image: url(icons/Anchor1.png);
}

li:hover #img2 {
  background-image: url(icons/Diamond1.png);
}

li:hover #img3 {
  background-image: url(icons/Eyeglasses1.png);
}

li:hover #img4 {
  background-image: url(icons/Monitor1.png);
}
