* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

main {
  margin-top: 56px;
  margin-bottom: 68px;
}

table {
  margin: auto;
}

td:nth-child(2) {
  display: inline-block;
  margin: 0px 100px 0px;
}

span {
  display: block;
  margin: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: #1275b9;
  background-position: center;
  background-repeat: no-repeat;
}

#first {
  background-image: url(icons/tablet_white.png);
}

#second {
  background-image: url(icons/settings_white.png);
}

#third {
  background-image: url(icons/dashboard_white.png);
}

span:hover {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background-color: white;
  border: 1px solid #1275b9;
}

#first:hover {
  background-image: url(icons/tablet_blue.png);
}

#second:hover {
  background-image: url(icons/settings_blue.png);
}

#third:hover {
  background-image: url(icons/dashboard_blue.png);
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto;
}

p {
  font-weight: 100;
  width: 220px;
}
