* {
  margin: 0;
  padding: 0;
  font-size: 0;
  color: white;
  text-align: center;
  font-family: "Open sans", sans-serif;
  transition: all 0.1s ease-in;
}

article {
  box-sizing: border-box;
  border: 2vh solid #2b81ac;
  background: #3399cc;
  height: 100vh;
  text-decoration: none;
}

main {
  display: inline-block;
  width: 65%;
  border: 3px solid white;
  background-color: white;
}

li {
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid white;
  width: 25%;
  height: 150px;
  font-size: 24px;
  color: #ffffff;
  padding-top: 35px;
}

li * {
  padding-top: 5px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
}

span::after {
  content: "°C ";
}

li i {
  font-size: 28px;
}

li:first-child {
  width: 50%;
  background: rgba(51, 153, 204, 1);
}

li:nth-of-type(2) {
  background: rgba(51, 204, 204, 1);
}

li:nth-of-type(3) {
  background: rgba(153, 102, 153, 1);
}
li:nth-of-type(4) {
  background: rgba(194, 71, 71, 1);
}

li:nth-of-type(5) {
  background: rgba(226, 103, 74, 1);
}
li:nth-of-type(6) {
  background: rgba(255, 204, 102, 1);
}
li:nth-of-type(7) {
  background: rgba(153, 204, 153, 1);
}
li:nth-of-type(8) {
  background: rgba(102, 153, 153, 1);
}

li:nth-last-of-type(3) {
  background: rgba(204, 102, 153, 1);
  width: 50%;
}
li:nth-of-type(10) {
  background: rgba(51, 153, 102, 1);
}
li:last-child {
  background: rgba(102, 102, 153, 1);
  width: 100%;
}

ul:hover li {
  opacity: 0.6;
}

.city:hover {
  opacity: 1;
}

/* .Lisbon {
  background: rgba(51, 153, 204, 1);
}
.Paris {
  background: rgba(51, 204, 204, 1);
}
.Belgrade {
  background: rgba(153, 102, 153, 1);
}
.Moscow {
  background: rgba(194, 71, 71, 1);
}
.TelAviv {
  background: rgba(226, 103, 74, 1);
}
.Cair {
  background: rgba(255, 204, 102, 1);
}
.NewYork {
  background: rgba(153, 204, 153, 1);
}
.NewDehli {
  background: rgba(102, 153, 153, 1);
}
.SanFrancisco {
  background: rgba(204, 102, 153, 1);
}
.Tokyo {
  background: rgba(51, 153, 102, 1);
}
.Sydney {
  background: rgba(102, 102, 153, 1);
} */
