* {
  margin: 0;
  padding: 0;
}

article {
  box-sizing: border-box;
  margin: 50px auto;
  width: 1400px;
  height: 940px;
  background: #ffffff;
  box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  margin: 32px 140px 0px 130px;
}

h2 {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  line-height: 56px;
  margin: 130px 0 0 130px;
}

.big_letter::first-letter {
  font-family: "Playfair Display", serif;
  font-size: 110px;
  line-height: 92px;
  float: left;
  margin: -3px 15px 0 0;
}

blockquote::before {
  content: " “   ";
  font-size: 65px;
  line-height: 72px;
  text-align: left;
  margin-left: 134px;
}

blockquote {
  color: rgba(23, 23, 23, 0.7);
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
  margin-bottom: 33px;
}

a {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  color: rgba(234, 162, 88, 1);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  padding: 23px 75px;
  border: 2px solid rgba(234, 162, 88, 1);
  margin-left: 130px;
}
